<h1 id= "left">Enter an Expense</h1> 
<p><%= link_to "View Graphically!", current_user %></p>
<p><%= pluralize(current_user.expenses.count, "Expense")%> Posted</p>
<table>
	<tr>
		<th> Income </th>
		<th> Remaining </th>
		<th> Used </th>
	</tr>
	<tr>
		<td>$<%= number_with_precision current_user.budget.income, :precision => 2 %> </td>
		<td>$<%= number_with_precision current_user.budget.remaining, :precision => 2 %></td>
		<td>$<%= number_with_precision current_user.budget.used, :precision => 2 %></td>	 
	</tr>
</table>